{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $pages := .RegularPages }}
  {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ if .IsHome }}
      {{ range .Site.Home.Translations }}
        {{ $pages = $pages | lang.Merge .Site.RegularPages }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $paginator := .Paginate (where $pages "Type" $contentTypeName) }}

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}

  <div class="posts">
    {{ if .IsTranslated }}
      <article style="margin:20px">
        <h4>{{ $.Site.Params.inOtherLangPosts | default "See posts in other languages" }}</h4>
          <ul>
          {{ range $.Site.Home.AllTranslations }}
            <li><a href="{{ .Permalink }}/archive">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
      </article>
    {{ end }}
    {{ range $paginator.Pages }}
    <article class="post on-list">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <time class="post-date">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </time>

          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}

        {{ with .Params.Author }}
          <span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
        {{ end }}

        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
        {{ end }}
      </div>

      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" .)  }}
              <a href="{{ .Permalink }}">#{{ .Name }}</a>&nbsp;
            {{ end }}
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        {{ partial "postcover.html" . }}
      {{ end }}

      <div class="post-content">
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary }}
          {{ end }}
        {{ end }}
      </div>
      {{ if not .Params.hideReadMore }}
        <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
      {{ end }}
    </article>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
