{{ define "main" }}
  <div class="posts">
  <h1>#{{.Name}}</h1>
    {{ if .IsTranslated }}
      <article style="margin:20px">
        <h4>{{ $.Site.Params.inOtherLangPosts | default "See posts in other languages" }}</h4>
        <ul>
          {{ range .Translations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </article>
    {{ end }}
    {{ range .Pages }}
      <article class="post on-list">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        <div class="post-meta">
          {{ if .Date }}
            <time class="post-date">
              {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
            </time>

            {{ if $.Site.Params.LastModDisplay }}
              {{ partial "lastmod.html" . }}
            {{ end }}
          {{ end }}
          {{ with .Params.Author }}
            <span class="post-author"
              >— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span
            >{{ end }}


          {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time"
              >— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span
            >
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
              {{ with $.Site.GetPage (printf "/tags/%s" .)  }}
                <a href="{{ .Permalink }}">#{{ .Name }}</a>&nbsp;
              {{ end }}
            {{ end }}
          </span>
        {{ end }}

        {{ if .Params.Cover }}
          {{ partial "postcover.html" . }}
        {{ end }}

        <div class="post-content">
          {{ with .Description }}
            {{ . | markdownify }}
            {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
            {{ end }}
          {{ end }}
        </div>
        {{ if not .Params.hideReadMore }}
          <div>
            <a class="read-more button" href="{{ .RelPermalink }}"
              >{{ $.Site.Params.ReadMore | default "Read more" }} →</a
            >
          </div>
        {{ end }}
      </article>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
