{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  <article class="post">
    <h1 class="post-title">{{ .Title | markdownify }}</h1>
    <div class="post-meta">
      {{ if .Date | default nil }}
        <time class="post-date">
          {{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
        </time>

        {{ if eq .Type $contentTypeName }}
          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ with .Params.Author }}
        <span class="post-author"
          >— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span
        >{{ end }}


      {{ if $.Site.Params.ShowReadingTime }}
        <span class="post-read-time"
          >— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span
        >
      {{ end }}
    </div>

    {{ if .Params.tags }}
      <span class="post-tags">
        {{ range .Params.tags }}
          {{ with $.Site.GetPage (printf "/tags/%s" .)  }}
            <a href="{{ .Permalink }}">#{{ .Name }}</a>&nbsp;
          {{ end }}
        {{ end }}
      </span>
    {{ end }}

    {{ if .IsTranslated }}
    <h4>{{ $.Site.Params.Translations | default "Translations" }}</h4>
    <ul>
      {{ range .Translations }}
      <li>
        <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}

    {{ if .Params.Cover }}
      {{ partial "postcover.html" . }}
    {{ end }}

    <div class="post-content">
      {{ if or .Params.Toc $.Site.Params.Toc }}
        {{ if ne .Params.Toc false }}
        <h2>{{ $.Site.Params.TableOfContents | default "Table of Contents" }}</h2>
        <aside class="table-of-contents">{{ .TableOfContents }}</aside>
        {{ end }}
      {{ end }}
      {{ .Content }}
    </div>
    {{ if eq .Type $.Site.Params.contentTypeName }}
      {{ if or .NextInSection .PrevInSection }}
        <div class="pagination">
          <div class="pagination__title">
            <span class="pagination__title-h"
              >{{ $.Site.Params.ReadOtherPosts | default "Read other posts" }}</span
            >
            <hr />
          </div>
          <div class="pagination__buttons">
            {{ if .NextInSection }}
              <span class="button previous">
                <a href="{{ .NextInSection.Permalink }}">
                  <span class="button__icon">←</span>
                  <span class="button__text">{{ .NextInSection.Title }}</span>
                </a>
              </span>
            {{ end }}
            {{ if .PrevInSection }}
              <span class="button next">
                <a href="{{ .PrevInSection.Permalink }}">
                  <span class="button__text">{{ .PrevInSection.Title }}</span>
                  <span class="button__icon">→</span>
                </a>
              </span>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}

    {{ if not (eq .Params.Comments "false") }}
      {{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
        {{ partial "comments.html" . }}
      {{ end }}
    {{ end }}
  </article>
{{ end }}
