{{ define "main" }}
  <div class="terms">
    <h1>{{ .Title }}</h1>
    <ul class="terms__list">
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ $name := .Name }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <li class="terms__term">
            <a href="{{ .Permalink }}"
              >#{{ .Name }}<span class="terms__term-count">{{ $count }}</span></a
            >
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
