:root {
  --cc-font-size: .7em;
  --cc-box-size: 1.7em;
}
span.cc::before {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  box-sizing: border-box;
  border-radius: 1em;
  width: var(--cc-box-size);
  height: var(--cc-box-size);
  display: inline-block;
  line-height: calc(var(--cc-box-size) - var(--cc-font-size) / 2);
  text-align: center;
  vertical-align: calc((1.1em - var(--cc-font-size)) / 2);
  font-size: var(--cc-font-size);
  margin-right: -2.2em;
  content: "cc";
}
span.cc {
  color: transparent;
}
.logo__cursor {
  background: orange;
}

